body {
  text-align: center;
  font-size : medium;
}
h1 {
  font-size: 60px;
}
.corps {
  background-color: #c4c4c4;
}
.photo {
  padding-bottom: 5px;
  padding-left: 155px;
  padding-right: 155px;
  background-color: rgb(255, 255, 255);
}