body 
{
     background-image: url(https://cdn.discordapp.com/attachments/1018769330344824834/1022478951760801864/unknown.png);
     text-align: center;
     font-size : medium;
}
h1 {
    font-size: 40px;
  }
.checkbox
{ 
    width: 25%;
    margin: auto;
    text-align: justify;
}