body 
{
     text-align: left;
     font-size : 111%;
     background: rgba(93, 120, 252, 0.657) url('https://cdn.discordapp.com/attachments/1018769330344824834/1022478951760801864/unknown.png');
    background-size: cover;
    background-blend-mode: lighten;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
form
{
  margin: 30px;
}
h1 
{
    font-size: 25px;
    text-align: center;
  }

#pp
{
  text-align: center;
}
form
{
  background-color: rgba(16, 16, 79, 0.88);
  margin: auto;
  width: 30%;
  padding: 1%;
  -moz-border-radius : 25px;
  -webkit-border-radius : 25px;
  border-radius : 3px;
  
}
.checkbox
{ 
    width: 25%;
    margin: auto;
    text-align: justify;
}
.text
{
  width: 100%;
}